*{
    margin: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html{
    display:grid;
}

h1,h3{
    text-align: center;
    font-size: 2em;
    font-size: 28px; 
}
.todo{
    flex-wrap: wrap;
}
.wrap { 
    padding: 15px;
     font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
 }
 h5{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
 }
 .row{
     margin:1%;
    justify-content: space-around;
    display:flex;
    padding:0 4px;
    flex-wrap: wrap;
 }
 .cards .col{
     width:25%;
     height: 350px;
    
 }

 .container2{
    overflow-x:scroll;
    overflow-y:scroll;
    
    /* Styling */
    background-color: grey;
    height:700px;
 }


h4,
modal-title { font-size: 18px;
     font-weight: bold;
     justify-content: left;
     text-align: left; }

.no-borders { border: 0px; }
.body-message { font-size: 18px;
font-family: Georgia, 'Times New Roman', Times, serif; }
.centered { text-align: center; }
.btn-primary {
     background-color: #2086c1;
     border-color: transparent; 
     outline: none; 
     border-radius: 8px; 
     font-size: 15px; 
     padding: 10px 25px; }
.btn-primary:hover { background-color: #2086c1; border-color: transparent; }
.btn-primary:focus { outline: none; }


form{
    justify-content: center;
    align-content: center;
}
label{
    font-size: 1.5em;
    align-content: left;   
}
.addtaskmain{
    background-color: rgb(184, 185, 179);
}

.details{
    overflow: auto;
}
button{
    background-color: rgb(62, 115, 124) !important;
    color:white !important
}
button a,.card-body a{
    display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
}
button a:hover{
    text-decoration: none; 
    color: rgb(19, 18, 18);
}

@media only screen (min width:300px) or (max-width: 725px) {
    .container2{
    height:300px;
    
    }
    
  }



footer p{
    display: block;
    color: #012980;
    text-align: center;

    bottom: -44px;
    width: 100%;
    height: 40px;
    z-index: 90;
    }


    